<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-size: 1.5vw;
        }

        .user {
            border: 1px solid;
            padding: 1em;
            width: fit-content;
        }

        .main {
            font-weight: bold;
        }

        .task {
            border: 1px solid;
            padding: 1em;
            margin-top: 1em;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
        }
    </style>
</head>

<body>
    <div class="user">
        <p><span class="main">User Name: </span> {{login.name}}</p>
    </div>
    <div>
        {% for task in tasks %}
        <div class="task">
            <p><span class="main">Id: </span>{{ task.id }}</p>
            <p><span class="main">Name: </span>{{ task.name }}</p>
            <p><span class="main">Description: </span>{{ task.description }}</p>
            <p><span class="main">Status: </span>{{ task.status_name }}</p>
            <p><span class="main">Creationdate: </span>{{ task.creationdate }}</p>
            <p><span class="main">Assignor: </span>{{ task.assignor_name }}</p>
            <p><span class="main">Assignee: </span>{{ task.assignee_name }}</p>

            <div>
                <form method="post"> {% csrf_token %}
                    <label for="status">Status:</label>
                    <select name="status">
                        {% for stat in status %}
                            {% if stat.id == task.status_id %}
                                <option selected value="{ 'stat_id': {{stat.id}}, 'task_id': {{task.id}} }">{{stat.name}}</option>
                            {% else %}
                                <option value="{ 'stat_id': {{stat.id}}, 'task_id': {{task.id}} }">{{stat.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>